<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
        <div class="row" style=" background-color: #DCDCDC; ">
            <div class="col-3"></div>
            <div class="col-md-9">
                <ul class=" nav navbar">
                    <li class=" nav-item">
                        <a href="/Home/XeMay8xemay" class="nav-link">Trang chủ</a>
                    </li>
                    <li class=" nav-item">
                        <a href="/Admin/IndexNhaCC" class="nav-link">Nhà cung cấp</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" href="#">
                                Danh mục sản phẩm
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/Admin/danhMucXe">Danh mục xe</a>
                                <a class="dropdown-item" href="/Admin/IndexThuongHieu">Danh mục thương hiệu</a>
                            </div>
                        </div>
                    </li>
                    <li class=" nav-item">
                        <a href="/Home/index" class="nav-link">Hóa đơn</a>
                    </li>
                    <li class=" nav-item">
                        <a href="/Admin/IndexKhachHang" class="nav-link">Khách hàng</a>
                    </li>
                    <li class=" nav-item">
                        <a href="/Home/DangNhapTK" class="nav-link">Thoát</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    <script src="~/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
